.category-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 32%;
  /* box-shadow: 0 3px 3px 3px rgb(0, 0, 0, 0.2); */
  height: 50vh;
  margin-bottom: 8%;
  /* padding: 30px 10px 0 10px; */
  /* border: solid brown 2px; */
}

.category-image {
  position: relative;
  height: 100%;
}

.image-heart {
  color: #ff7b7b;
  display: flex;
  opacity: 1;
  font-size: 1.5em;
  position: absolute;
  top: 12px;
  right: 5px;
  font-weight: lighter;
  transition: opacity ease 0.3s;
  background-color: #fff;
  border-radius: 100%;
  border: lightgray 1px solid;
  padding: 6px;
  z-index: 0;
}

.category-item img {
  height: 100%;
  width: 100%;
  cursor: pointer;
  /* border: 2px solid blue; */
  /* border-radius: 25px; */
}

.category-item {
  opacity: 1;
}

.category-info {
  margin-top: 8px;
  height: 100%;
  /* border: solid yellow 2px; */
}

.category-info p {
  margin: 5px 0;
}

.info-title {
  font-size: 1em;
}

.category-price {
  font-size: 0.9em;
  color: #181818;
  text-shadow: 1px 0 #181818;
  letter-spacing: 1px;
  font-weight: bold;
}

.category-item:hover {
  opacity: 0.8;
}

.category-item:hover .image-heart {
  opacity: 1;
}

.category-products {
  width: 100%;
}

@media (max-width: 600px) {
  .category-item {
    width: 48%;
  }

  .productInfo > p {
    font-size: 0.7rem;
  }

  .image-heart {
    font-size: 0.8em;
  }

  .category-item img {
    height: 35vh;
    width: 100%;
    cursor: pointer;

    /* border: 2px solid blue; */
    /* border-radius: 25px; */
  }
}
