.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 145px;
}
.icons {
  margin-top: 20px;
  display: flex;
  font-size: 1.3rem;
}

p {
  font-size: 1rem;
}

.icons p {
  margin: 0 5px;
}
