.ProductItem {
  display: flex;
  flex-direction: column;
  margin: 20px;
  transition: transform 0.5s ease;
  overflow: hidden;
  color: #181818;
}

.productImage {
  cursor: pointer;
  overflow: hidden;
  /* border-radius: 20px; */
  width: 200px;
  height: 180px;
  /* background-color: #fbf5f3; */
  margin-bottom: 8px;
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease;
  border: none;
}

.productImage:hover {
  transform: scale(1.1) !important;
  filter: brightness(95%);
}

.productInfo {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 5px;
}

.productInfo-price {
  color: #181818;
  text-shadow: 1px 0 #181818;
  letter-spacing: 1px;
  font-weight: bold;
}
.productInfo > p {
  margin: 2px;
}

@media (max-width: 600px) {
  .ProductItem {
    width: 70vw;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
  }
}
