.shoppingbag-item-container {
  margin-top: 20px;
  width: 50vw;
}

.shoppingbag-item {
  display: flex;
  height: 100%;
  /* border-bottom: 1px solid lightgray; */
}

.shoppingbag-item img {
  width: 70px;
  height: 65px;
  margin-bottom: 15px;
}

.bag-info {
  width: 150px;
  margin-left: 20px;
}

.trash-info {
  margin-left: 70px;
  color: red;
  cursor: pointer;
}

.price-info {
  color: #181818;
  text-shadow: 1px 0 #181818;
  letter-spacing: 1px;
  font-weight: bold;
}
