.shoppingbag-item-container {
  margin-top: 50px;
  width: 60vw;
}

.shoppingbag-item {
  display: flex;
  height: 100%;
  border-bottom: 1px solid lightgray;
}

.shoppingbag-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
}

.bag-info {
  width: 150px;
  margin-left: 45px;
}

.trash-info {
  margin-left: 100px;
}

.price-info {
  color: #181818;
  text-shadow: 1px 0 #181818;
  letter-spacing: 1px;
  font-weight: bold;
}
