.create-product {
  margin: 0;
  padding: 0;
  height: 85vh;
}

.product-form-group {
  display: flex;
  margin-top: 30px;
  width: 80vw;
  outline: none;
}

.product-form-group input {
  width: 325px;
  height: 40px;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: 20px;
}

.category-form-gruop {
  background-color: yellow;
  border: solid 2px black;
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.form-image {
  margin: 20px 0;
}

.form-filepicker {
  margin: 20px 0;
}
.form-image img {
  width: 100px;
  height: 100px;
}
