.notfound {
  text-align: center;
  min-height: 80vh;
}

.oops {
  font-size: 10rem;
  margin-bottom: 2%;
}

.p-notfound {
  font-size: 3rem;
  margin-bottom: 2%;
}

.btn-pg {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40px;
  border-radius: 30px;
  background-color: #8a2be2;
  color: #fff;
  transition: background-color 0.5s ease;
  border: none;
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 2rem;
}
