.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.top {
  margin: 0;
  padding: 0;
  margin-top: 100px;
  display: flex;
  width: 90%;
}

.product-img {
  width: 32vw;
  height: 60vh;
  margin-right: 4vw;
}

.product-info {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: 30px;
}

.product-info-btn {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
}

.product-header {
  padding: 0;
  margin: 0;
  text-align: left;
}

.cart-btn {
  width: 20vw;
  height: 4vh;
  background-color: blueviolet;
  margin-top: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.cart-btn:hover {
  transform: brightness(60%);
}

.description {
  margin: 20px 0;
}
.quantity-btn {
  display: flex;
}
.quantity-btn button {
  color: #fff;
  background-color: #181818;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

.quantity {
  margin: 20px 0;
}

.quantity-btn p {
  margin: 0 20px;
}

.tile-img {
  width: 130px;
  margin: 20px 20px 0 0;
}

.editbtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5vw;
  height: 5.3vh;
  font-size: 1.1em;
  border-radius: 30px;
  background-color: #4842f5;
  color: #fff;
  transition: background-color 0.5s ease;
  border: none;
}

.deletebtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5vw;
  height: 5.3vh;
  font-size: 1.1em;
  border-radius: 30px;
  background-color: #f54254;
  color: #fff;
  transition: background-color 0.5s ease;
  border: none;
}

.editbtn:hover {
  background-color: #2f2b99;
}

.deletebtn:hover {
  background-color: #b51042;
}

.product-button {
  margin-top: 30px;
}
.product-button button {
  margin-bottom: 30px;
}

.decription-text {
  font-size: 0.8rem;
}
@media (max-width: 480px) {
  .top {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-img {
    display: flex;
    margin: 0 auto;
    width: 100vw;
    height: 90vh;
    margin-bottom: 20px;
  }

  .product-info {
    /* border: white solid 2px; */
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .cart-btn {
    width: 80vw;
    height: 4vh;
    background-color: blueviolet;
    margin-top: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
  }

  .tile-img {
    display: none;
  }
}
