.shoppingbag {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  height: 100%;
  padding-bottom: 55vh;
}

.bag-container {
  margin-top: 100px;
}

.shoppingbag h1,
.shoppingbag h2 {
  text-align: left;
}

.shoppingBag-items {
  height: 100%;
  /* border: solid red 2px; */
}

.shoppingbag h2 {
  /* border: solid 2px blue; */
  margin: 20px 0 0 0;
  padding: 0;
}
