.shoppingbag {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  height: 100%;
  padding-bottom: 30vh;
  width: 100vw;
}

.bag-container {
  display: flex;
  margin-top: 80px;
}

.bag-total {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  box-shadow: 0 5px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left: 30px;
  width: 25%;
  height: 60%;
  padding-bottom: 20px;
}

.bag-total h3,
.bag-total h4 {
  margin: 18px 0 0 20px;
}

.bag-total .order-info {
  margin: 0 0 0 20px;
}
.bag-total .border {
  padding-bottom: 30px;
  border-bottom: solid 1px gray;
  margin-right: 30px;
}

.bag-total button {
  margin: 0 auto;
  margin-top: 40px;
}

.shoppingbag h1,
.shoppingbag h2 {
  text-align: left;
}

.shoppingBag-items {
  padding-top: 30px;
  height: 100%;
  /* border: solid red 2px; */
}

.shoppingbag h2 {
  /* border: solid 2px blue; */
  margin: 20px 0 0 0;
  padding: 0;
}

.total-price {
  margin-left: 80px;
}

.free {
  margin-left: 110px;
}

.shoppingbag-item-container .empty-cart {
  margin-bottom: 20px;
}

.disabled {
  filter: brightness(80%);
}

.disabled:hover {
  background-color: #8a2be2;
}

.bag-total .card {
  margin-top: 70px;
}
