@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Lilita+One&family=MedievalSharp&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  /* background-color: #181818;
  color: #fff; */
  background-color: #fff;
  color: #181818;
  overflow-x: hidden; /* Hide vertical scrollbar */
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
